svg {
  width: 16px;
  height: 16px;

  stroke-width: 2px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-width: 100%;
  max-width: 100%;
  width: 100%;

  min-height: 34px;
  max-height: 34px;
  height: 34px;
}

.title-bar-focus {
  /* background: linear-gradient(45deg, #000000, #11111e, #060606); */

  background: linear-gradient(45deg, #a10f2f, #000000, #ab1359);
}

.title-bar-blur {
  /* background: linear-gradient(45deg, #000000, #11111e, #060606); */

  background: linear-gradient(45deg, #a10f2fa2, #000000af, #ab135ab0);
}

.title-bar .spacer {
  flex: 1;
  height: 100%;

  -webkit-app-region: drag;
}

.title-bar .title-left,
.title-bar .title-center,
.title-bar .title-right {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-bar .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  margin: 0 10px;
}

.title-bar .title-center {
  padding: 5px 10px;
  font-size: 12px;
  gap: 12px;
  width: 30%;
  height: 70%;
  justify-content: center;
  color: rgba(255, 255, 255, 0.464);
  text-transform: capitalize;
  cursor: pointer;

  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.08);

  white-space: nowrap;

  border: 1px solid rgba(255, 255, 255, 0.115);
}

.title-bar .title-center:hover {
  background-color: rgba(255, 255, 255, 0.118);
  border: 1px solid rgba(255, 255, 255, 0.117);
}

.title-center .app_name {
  white-space: nowrap;
}

.search-modal-wrapper {
  max-height: 30vh;
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background: inherit;

  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.505);
  z-index: 1000000;
}

.search-modal-container {
  max-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  width: 100%;
  padding: 4px;
  border-radius: 8px;

  background: var(--dark_mode);
  background: inherit;

  border-right: 1px solid #ffffff0a;
  border-bottom: 1px solid #ffffff0a;
  border-top: 1px solid #00000038;
  border-left: 1px solid #00000038;
}

.search-modal-wrapper.search-show {
  top: 5px;
}

.search-modal-wrapper.search-hide {
  top: -100%;
  display: none;
}

.search-modal-container input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.115);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.099);
  padding: 6px 8px;
  color: rgba(255, 255, 255, 0.464);
  border-radius: 6px;
  letter-spacing: .6px;
  font-weight: 600;
}
.search-modal-container input::placeholder {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
}

.search-modal-container input:is(:focus, :hover) {
  outline: none;
}

.search-modal-container :is(.results, ul) {
  width: 100%;
}

.search-modal-container :is(.results) {
  overflow: auto;
}

.search-modal-container .results::-webkit-scrollbar {
  width: 6px;
}

.search-modal-container .results::-webkit-scrollbar-track {
  background: transparent;
}

.search-modal-container .results::-webkit-scrollbar-thumb {
  background: #969696;
}
.search-modal-container .results::-webkit-scrollbar-thumb:hover {
  background: #777676;
}

.search-modal-container li {
  list-style: none;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.599);
  font-weight: 300;
  border-radius: 2px;
  padding: 4px 8px;

  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.search-modal-container li .userID {
  opacity: 0.5;
}

.search-modal-container li:is(:hover) {
  background: rgba(95, 92, 92, 0.332);
}

.search-modal-container li.selected {
  background: rgb(87 78 78);
}

.search-modal-container li :is(img) {
  width: 14px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.title-bar .title-right .window-cmini-maxi {
  display: flex;
  align-items: center;
  height: inherit;
}

.title-bar .title-right .window-cmini-maxi .action-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
  width: 44px;
}

.title-bar .title-right .win-restore-maximize {
  display: flex;
  align-items: center;
  position: relative;
  height: inherit;
}

.title-bar :is(.win-maximize svg, .win-restore svg) {
  width: 12px;
  height: 12px;

  stroke-width: 3px;
}

.title-bar .title-right .win-close:is(:hover) {
  background-color: #e81123;
}

.title-bar .title-right .win-close:is(:active) {
  background-color: #e8112385;
}

.title-bar .title-right .window-cmini-maxi .win-restore {
  position: relative;
}

.title-bar .title-right .window-cmini-maxi .win-maximize {
  position: absolute;
}

.title-bar
  .title-right
  :is(.win-restore:hover, .win-minimize:hover, .win-maximize:hover) {
  background-color: #8686865d;
}

.title-bar
  .title-right
  :is(.win-restore:active, .win-minimize:active, .win-maximize:active) {
  background-color: #86868691;
}

@media (prefers-color-scheme: light) {
  .title-bar-focus {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
  }

  .title-bar-blur {
    background: #ff416d96;
    background: -webkit-linear-gradient(to right, #ff4b2ba6, #ff416d98);
    background: linear-gradient(to right, #ff4b2b98, #ff416d9d);
  }

  

  .title-bar
    .title-right
    :is(.win-restore:hover, .win-minimize:hover, .win-maximize:hover) {
    background-color: #8686865d;
  }

  .title-bar
    .title-right
    :is(.win-restore:active, .win-minimize:active, .win-maximize:active) {
    background-color: #86868691;
  }

  .title-bar .title-center {
    background-color: rgba(255, 255, 255, 0.411);

    border: 1px solid rgba(255, 255, 255, 0.233);
  }

  .title-bar .title-center:hover {
    background-color: rgba(255, 255, 255, 0.118);
    border: 1px solid rgba(255, 255, 255, 0.117);
  }

  .search-modal-container {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b7d, #ff416c82);
    background: linear-gradient(to right, #ff4b2b7d, #ff416c82);
  }

  .search-modal-container li {
    color: rgba(69, 69, 69, 0.6);
  }

  .search-modal-container input {
    color: #5b5b5bcc;
    background-color: #ff416c4a;
    border: 1px solid #ff416cb0;

    caret-color: black;
  }

  .search-modal-container :is(input, input::placeholder) {
    color: #5b5b5bcc;
  }

  .search-modal-container li:hover {
    background: -webkit-linear-gradient(to right, #ff4b2b3d, #ff416d42);
    background: linear-gradient(to right, #ff4b2b3d, #ff416d42);
  }

  .search-modal-container li.selected {
    background: linear-gradient(to right, #ff4b2b7d, #ff416dbd);
  }
}
